<header class="">
    <nav class="flex bg-[#CEB1E4] w-full h-[60px] px-[50px] justify-between items-center shrink-0">
        <div>
            <a href="/">Cafe</a>
        </div>
        <ul class="flex justify-between items-center gap-[30px]">
            <li>
                <a href="/">Trang chủ</a>
            </li>
            <li>
                <a href="/dish">Món</a>
            </li>
            <li>
                <a href="/table">Bàn</a>
            </li>
            <li>
                <a href="/admin">Quản lý</a>
            </li>
        </ul>
        <ul class="text-black font-bold leading-[normal]">
            <% if(!session.user_id) { %>
                <li class="inline mr-3">
                    <a href="/login">Login</a>
                </li>
                <li class="inline">
                    <a href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="inline">
                    <form action="/logout" method="post">
                        <input type="hidden" name="" id="">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>