<header class="">
    <nav class="flex bg-[#CEB1E4] w-full h-[60px] px-[50px] justify-between items-center shrink-0">
        <div>
            <a href="/">Cafe</a>
        </div>
        <ul class="flex justify-between items-center gap-[30px]">
            <li>
                <a href="/homepage">Trang chủ</a>
            </li>
            <li>
                <a href="/dish">Món</a>
            </li>
            <li>
                <a href="/table">Bàn</a>
            </li>
            <li>
                <a href="/admin">Quản lý</a>
            </li>
        </ul>
        <ul class="text-black font-bold leading-[normal]">
            <li class="inline mr-3">
                <a href="/login">Login</a>
            </li>
            <li class="inline">
                <a href="/signup">Signup</a>
            </li>
        </ul>
    </nav>
</header>