<%- include('includes/header.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs')  %>    
    <main class="px-24 py-10">

        <h2 class="text-black text-2xl not-italic font-bold mb-5">Thuc uong</h2>

        <div class="flex w-56 flex-col items-start gap-5">
            <div class="image">
                <img class="w-56 h-48" src="/images/157a66fb2e38fad05e8115b4d4c6cf68.png" alt="">
            </div>
            <div class="title text-black text-left font-bold">Tra thao moc</div>
            <div class="flex justify-between items-center self-stretch">
                <span class="price">29.000</span>
                <button class="p-2 rounded-lg bg-purple-800 text-white text-center text-sm not-italic font-medium leading-5">Mua</button>
            </div>
        </div>
        
        <hr class="my-5 border border-black">

        <h2 class="text-black text-2xl not-italic font-bold mb-5">Mon an nhe</h2>

        <div class="flex w-56 flex-col items-start gap-5">
            <div class="image">
                <img class="w-56 h-48" src="/images/157a66fb2e38fad05e8115b4d4c6cf68.png" alt="">
            </div>
            <div class="title text-black text-left font-bold">Tra thao moc</div>
            <div class="flex justify-between items-center self-stretch">
                <span class="price">29.000</span>
                <button class="p-2 rounded-lg bg-purple-800 text-white text-center text-sm not-italic font-medium leading-5">Mua</button>
            </div>
        </div>
    </main>
<%- include('includes/end.ejs') %>