<%- include('includes/header.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs')  %>    
    <main class="px-24 py-10">
        <div class="w-full h-full flex justify-center items-center mb-5">
            <img class="w-[769px] h-[400px]" src="/images/157a66fb2e38fad05e8115b4d4c6cf68.png" />
            <div class="w-[511px] h-[400px] bg-neutral-500">
                <div class="text-[white] text-sm font-normal leading-[21px]">
                    Cafe
                </div>
                <div class="text-white text-2xl font-bold leading-9">
                    Cafe
                </div>
                <div class="text-white text-sm font-bold leading-5">
                    Nhận khuyến mãi lên tới 99% khi mua 100 ly trà thảo mộc<br/>Nhập mã THAOMOC99
                </div>
            </div>
        </div>

        <h2 class="text-black text-2xl not-italic font-bold mb-5">Mon noi bat trong tuan</h2>

        <div class="flex w-56 flex-col items-start gap-5">
            <div class="image">
                <img class="w-56 h-48" src="/images/157a66fb2e38fad05e8115b4d4c6cf68.png" alt="">
            </div>
            <div class="title text-black text-left font-bold">Tra thao moc</div>
            <div class="flex justify-between items-center self-stretch">
                <span class="price">29.000</span>
                <button class="p-2 rounded-lg bg-purple-800 text-white text-center text-sm not-italic font-medium leading-5">Mua</button>
            </div>
        </div>
    </main>
<%- include('includes/end.ejs') %>