<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title><%= pageTitle %></title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5 mb-5 text-center text-primary"><b>Add new dish</b></h1>
      <form action="/dish/admin/add" method="post">
        <div class="form-group col-md-4 mb-4">
          <label for="foodType">Loai mon</label>
          <input
            type="text"
            class="form-control"
            name="foodType"
            id="foodType"
            placeholder="1-15"
          />
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="size">Kich co</label>
          <input
            type="text"
            class="form-control"
            name="size"
            id="size"
            placeholder="S-M-L"
          />
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="price">Don gia</label>
          <input
            type="text"
            class="form-control"
            name="price"
            id="price"
            placeholder="10000"
          />
        </div>
        <button type="submit" class="btn btn-primary">Them</button>
      </form>
    </div>
  </body>
</html>
