<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/jpg" href="/images/favicon.png">
        <title><%= pageTitle  %></title>
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5 mb-5 text-center text-primary"><b>Thêm thẻ voucher mới</b></h1>
            <form action="/voucher/admin/<%= option %>/<%= id %>" method="post">
                <div class="form-group col-md-4 mb-4">
                    <label for="stt">Số thứ tự</label>
                    <input type="text" class="form-control" name="stt" id="stt" placeholder="1-<%= option === "delete" ? voucher.length : 'n' %>">
                </div>
                <button type="submit" class="btn btn-primary">Them</button>
            </form>
        </div>
    </body>
</html>